.home {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.home .hero {
    background-color: #101012;
}

.home .about-section {
    background-color: #1a1a1c;
}

.home .skills {
    background-color: #34353a;
}

.home .projects {
    background-color: #1a1a1c;
}

.home .center {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .center .name {
    display: flex;
    font-size: 3rem;
}

.home .center .name span {
    margin: 0.5rem;
}

.home .center .job {
    font-size: 2rem;
}

.home .hero .image {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    overflow: hidden;
    transition: all 0.05s ease-in-out;
}

.home .hero .image:hover {
    transform: scale(1.1);
    transition: all 0.05s ease-in-out;
}

.home .hero .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    font-size: 3rem;
    bottom: 1rem;
}

.home .hero .right {
    position: absolute;
    right: 8rem;
    bottom: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .hero .right > * {
    margin-top: 1rem;
}

.home .hero .image img {
    width: 100%;
    height: 100%;
}

.home .hero .line {
    width: 0.25rem;
    height: 12rem;
    border-radius: 4rem;
    background-color: #C8A560;
}
