section {
    display: flex;
    height: 100vh;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    scroll-snap-align: start;
}

section .header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

section.left .header {
    flex-direction: row-reverse;
}

section .header .title {
    font-size: 4rem;
    color: #D3D3D3;
}

section .header .image img {
    height: 12rem;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		filter: drop-shadow(0 5px 15px 0px rgba(0,0,0,0.6));
		transform: translatey(0);
	}
	50% {
		filter: drop-shadow(0 5px 15px 0px rgba(0,0,0,0.2));
		transform: translatey(-1rem);
	}
	100% {
		filter: drop-shadow(0 5px 15px 0px rgba(0,0,0,0.6));
		transform: translatey(0);
	}
}
